<ul>
  <% for merchant in @merchants %>
    <li><%= merchant.name.capitalize %> -
      <%= if merchant.active == true
            "Active"
          else
            "Inactive"
          end %>
      <a href="/merchants/<%= merchant.id %>">Details</a> -
      <a href="/merchants/<%= merchant.id %>/edit">Edit</a>
    </li>
  <% end %>
</ul>

<br>
<h3><a href="/merchants/new">Add a New Merchant</a></h3>
