<br>
<table>
  <tr>
    <th>Merchant Name</th>
    <th>Status</th>
    <th></th>
    <th></th>
  </tr>
  <% for merchant in @merchants %>
    <tr>
    <%= "<th>#{merchant.name.capitalize}</th>" %>
      <%= if merchant.active == true
            "<th>Active</th>"
          else
            "<th>Inactive</th>"
          end %>
      <th><a href="/merchants/<%= merchant.id %>">Details</a></th>
      <th><a href="/merchants/<%= merchant.id %>/edit">Edit</a></th>
    </tr>
  <% end %>
</table>

<br>
<h3 class="button"><a href="/merchants/new">Add a New Merchant</a></h3>
