<ul class="details">
  <li>Name: <%= @merchant.name.capitalize %></li>
  <li>Status: <%= if @merchant.active == true
                  "Active"
                else
                  "Inactive"
                end %></li>
  <li>
    Category: <% for category in @categories%>
    <%= category.name.capitalize if category.id == @merchant.default_cat_id %>
    <% end %>
  </li>

</ul>

  <a class="details" href="/merchants/<%= @merchant.id %>/edit">Edit Details</a>
  <br>
  <br>
  <a class="details" href="/merchants">Back to List</a>
