<h3><a href="/transactions/new">Add New Transaction</a></h3>
<h3><a href="/transactions/new?bill=true">Add New Bill</a></h3>
<h3><a href="/budgets?month=<%= Date.today.month %>&year=<%= Date.today.year  %>">View Budgeting</a></h3>
<h3><a href="/budgets/edit">Edit Budgeting</a></h3>
