


body {
  margin: 20px;
  padding: 0;
  background-color: #66D3FA;
  font-family: 'Cabin';
}


ul {
  list-style-type: none;
  margin: 0;
  padding: 20px;
  background-color: #2565AE;
  border-radius: 10px;
}

li{
    display: inline;
    margin: 20px;
}

li a {
  display: inline;
  text-decoration: none;
  background-color: #2565AE;
  color: #D5F3FE;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: black;
}

table {
  border-collapse: collapse;
  margin-left: 0;

}

table, th, td {

}

th, td {
  padding-left: 12px;
  padding-right: 12px;
  text-align: left;
  border-bottom:  1px solid black;
}

.button {
  background-color: #2565AE;
  color: #D5F3FE;
  margin; 10px;
}

a  {
  color: #D5F3FE;
  padding-left: 40px;

}

h3{
  height: 40px;
  width: 300px;
  padding-top: 12px;
  border-radius: 10px;
}
