* {
  background-color: #C8D5B9;
  font-family: Verdana, Geneva, sans-serif;
  text-decoration: none;

}

ul {
  list-style-type: none;
  margin: 20px;
  padding: 12px;
  background-color: #696D7D;
}

li{
    display: inline;
}

li a {
  display: inline;
  text-decoration: none;
  background-color: #696D7D;
}
