<form method="POST" action="/categories/<%= @category.id %>">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" value="<%= @category.name %>" name="name" id="name"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Edit Category"/>
    </div>

  </div>
</form>
