<br>
<table>
  <tr>
    <th>Category</th>
    <th>Status</th>
    <th></th>
  </tr>
  <% for category in @categories %>
    <tr><%= "<th>#{category.name.capitalize}</th>" %>
      <%= if category.active == true
            "<th>Active</th>"
          else
            "<th>Inactive</th>"
          end %>
    <th><a href="/categories/<%= category.id %>/edit">Edit</a></th></tr>
  <% end %>
</table>

<h3 class="button"><a href="/categories/new">Add New Category</a></h3>
