<ul>
  <% for category in @categories %>
    <li><%= category.name.capitalize %> -
      <%= if category.active == true
            "Active"
          else
            "Inactive"
          end %> -
    <a href="/categories/<%= category.id %>/edit">Edit</a></li>
  <% end %>
</ul>

<h3><a href="/categories/new">Add New Category</a></h3>
