<form method="POST" action="/categories">
  <div class="form-wrapper">

    <div class="form-el">
      <label for="name">Name:</label>
      <input type="text" name="name" id="name"/>
    </div>

    <div class="form-el">
      <input type="submit" value="Add Category"/>
    </div>

  </div>
</form>
