<p><%= @category.name.capitalize %></p>
<br>
<p>Active: <%= @category.active %></p>
<br>
<p><a href="/categories/<%= @category.id %>/edit">Edit</a></p>
<h3><a href="/categories">Back to list of Categories</a></h3>
